body{
    background-image: url("Images/background-2.gif");
    /* background-repeat: no-repeat; */
    background-size: 100%;
    height: 100%;
}
.spider{
    position: absolute;
    bottom: 0;
    width: 200px
}